* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: dodgerblue;
  border: none;
}

body,html {
  width: 100%;
}

body {
  background-color: rgb(21, 20, 20);
}

.slidecont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

img {
  width: 40%;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .8rem;
}

i {
  padding: .7rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  border-radius: .3rem;
}

button:hover ,button:hover {
  background-color: blueviolet;
  color: white;
}

.slidebtn {
  display: flex;
  gap: 1rem;
}